extends templates/layout.pug

append scripts
	link(rel="stylesheet", type="text/css", href="styles/style.css")
block content 
	div.container-fluid
		div.row
			div.col-xs-1
			div.col-xs-10
				h1 Algorithm Visualizations
		div.row
			div.col-xs-1
			div.col-xs-10
				//- Put stuff here