label {
  width: 25px;
}
div.row.preferenceRow {
  height: 3em;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
div.preferenceBox {
  text-align: center;
  height: 100%;
  cursor: move;
}
div.preferenceBox.clicked {
  border: 4px dotted #000;
}
