label
	width: 25px;

div.row.preferenceRow
	height: 3em
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

div.preferenceBox
	border: 1px solid black;
	cursor: move;

	// Vertical Centering
	height: 50px;
	line-height: 50px;;
	white-space: nowrap;
	


div.preferenceBox.clicked
	border: 3px solid black;